#visitInputs {
  padding: 2% 1%;
  display: flex;
  margin-bottom: 5%;

  .visitInputs-inp-wrapper {
    height: 100%;
    width: 33%;
    margin: 0 1%;
    box-shadow: 0 10 var(--inputs-color);

    #add-button {
      background-color: white;
      padding: 0 3%;
      border: 1px solid var(--inputs-color);
      cursor: pointer;
      width: 95%;
      padding: 2.5% 0.5%;
      margin-top: 8%;
      float: right;
    }

    .visit-input {
      width: 100%;
      height: 100%;
      border: 0.1% solid black;
      outline: 0.1% solid var(--inputs-color);
      padding: 2.5% 0.5%;
    }
  }
}
