*,
body,
body * {
  font-size: 1vw;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --header-color: #c5e9ff;
  --main-body-color: #cee8f8;
  --inputs-color: #c4c4c4;
}

.resp-img {
  width: 100%;
  height: auto;
}

main {
  min-height: 100vh;
  background-color: var(--main-body-color);
  padding: 10px;
}

.main-headings {
  flex-grow: 1;
  font-weight: 400;
  font-size: 1.8vw;
  text-align: center;
}

.no-decor {
  text-decoration: none;
  color: inherit;
}

.err-msg {
  color: red;
}

.succ-msg {
  color: green;
}

.err-msg,
.succ-msg {
  margin: 5% 0;
}
