#sortInputs {
  padding: 2% 1%;
  display: flex;
  margin-bottom: 5%;
  justify-content: flex-end;
}

#filterSort {
  padding: 2%;
  display: inline-flex;
  margin-bottom: 5%;
  justify-content: flex-end;
}

.sort-inp-wrapper {
  height: 100%;
  width: 20%;
  margin: 0 1%;
  box-shadow: 0 10 var(--inputs-color);
}
